/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.201.0-02
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// GitHubAppConfigurationAPIService GitHubAppConfigurationAPI service
type GitHubAppConfigurationAPIService service

type ApiGenerateManifestRequest struct {
	ctx context.Context
	ApiService *GitHubAppConfigurationAPIService
	ownerId *string
	organizationName *string
}

// Owner (organization/application) ID
func (r ApiGenerateManifestRequest) OwnerId(ownerId string) ApiGenerateManifestRequest {
	r.ownerId = &ownerId
	return r
}

// GitHub organization name
func (r ApiGenerateManifestRequest) OrganizationName(organizationName string) ApiGenerateManifestRequest {
	r.organizationName = &organizationName
	return r
}

func (r ApiGenerateManifestRequest) Execute() (*http.Response, error) {
	return r.ApiService.GenerateManifestExecute(r)
}

/*
GenerateManifest Generate GitHub App manifest

Generate a GitHub App manifest for registration. Returns manifest JSON with a state token for CSRF protection. The state token is cryptographically secure, single-use, and expires after 10 minutes. Submit the manifest to GitHub's app creation flow, which will redirect back to IQ Server with the state token for validation. 

**Permissions Required:** Configure System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateManifestRequest
*/
func (a *GitHubAppConfigurationAPIService) GenerateManifest(ctx context.Context) ApiGenerateManifestRequest {
	return ApiGenerateManifestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *GitHubAppConfigurationAPIService) GenerateManifestExecute(r ApiGenerateManifestRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitHubAppConfigurationAPIService.GenerateManifest")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/githubApp/manifest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ownerId == nil {
		return nil, reportError("ownerId is required and must be specified")
	}
	if strlen(*r.ownerId) < 1 {
		return nil, reportError("ownerId must have at least 1 elements")
	}
	if r.organizationName == nil {
		return nil, reportError("organizationName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ownerId", r.ownerId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "organizationName", r.organizationName, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiHandleInstallationSetupRequest struct {
	ctx context.Context
	ApiService *GitHubAppConfigurationAPIService
	installationId *int64
	state *string
	code *string
}

// GitHub App installation ID
func (r ApiHandleInstallationSetupRequest) InstallationId(installationId int64) ApiHandleInstallationSetupRequest {
	r.installationId = &installationId
	return r
}

// State token for CSRF protection
func (r ApiHandleInstallationSetupRequest) State(state string) ApiHandleInstallationSetupRequest {
	r.state = &state
	return r
}

// OAuth authorization code
func (r ApiHandleInstallationSetupRequest) Code(code string) ApiHandleInstallationSetupRequest {
	r.code = &code
	return r
}

func (r ApiHandleInstallationSetupRequest) Execute() (*http.Response, error) {
	return r.ApiService.HandleInstallationSetupExecute(r)
}

/*
HandleInstallationSetup Handle GitHub App installation setup callback with OAuth + PKCE

Process the redirect from GitHub after OAuth authorization, validate state token, exchange OAuth code with PKCE verification, verify user ownership, configure the installation for the specified organization/application, and redirect to the configuration page

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleInstallationSetupRequest
*/
func (a *GitHubAppConfigurationAPIService) HandleInstallationSetup(ctx context.Context) ApiHandleInstallationSetupRequest {
	return ApiHandleInstallationSetupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *GitHubAppConfigurationAPIService) HandleInstallationSetupExecute(r ApiHandleInstallationSetupRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitHubAppConfigurationAPIService.HandleInstallationSetup")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/githubApp/setupInstallation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.installationId == nil {
		return nil, reportError("installationId is required and must be specified")
	}
	if *r.installationId < 1 {
		return nil, reportError("installationId must be greater than 1")
	}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}
	if strlen(*r.state) < 1 {
		return nil, reportError("state must have at least 1 elements")
	}
	if r.code == nil {
		return nil, reportError("code is required and must be specified")
	}
	if strlen(*r.code) < 1 {
		return nil, reportError("code must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "installation_id", r.installationId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiHandleRedirectRequest struct {
	ctx context.Context
	ApiService *GitHubAppConfigurationAPIService
	code *string
	state *string
}

// Temporary manifest conversion code from GitHub
func (r ApiHandleRedirectRequest) Code(code string) ApiHandleRedirectRequest {
	r.code = &code
	return r
}

// OAuth state token for CSRF protection
func (r ApiHandleRedirectRequest) State(state string) ApiHandleRedirectRequest {
	r.state = &state
	return r
}

func (r ApiHandleRedirectRequest) Execute() (*http.Response, error) {
	return r.ApiService.HandleRedirectExecute(r)
}

/*
HandleRedirect GitHub App registration redirect callback

Handles redirect from GitHub after manifest submission. Exchanges temporary code for permanent app credentials. The user's browser is automatically redirected here by GitHub - not intended for direct use. **Permissions Required:** Configure System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleRedirectRequest
*/
func (a *GitHubAppConfigurationAPIService) HandleRedirect(ctx context.Context) ApiHandleRedirectRequest {
	return ApiHandleRedirectRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *GitHubAppConfigurationAPIService) HandleRedirectExecute(r ApiHandleRedirectRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitHubAppConfigurationAPIService.HandleRedirect")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/githubApp/redirect"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
