/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.205.0-03
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WaiverExpirationNotificationConfigAPIService WaiverExpirationNotificationConfigAPI service
type WaiverExpirationNotificationConfigAPIService service

type ApiGetConfig1Request struct {
	ctx context.Context
	ApiService *WaiverExpirationNotificationConfigAPIService
	ownerType string
	ownerId string
}

func (r ApiGetConfig1Request) Execute() (*ApiWaiverExpirationNotificationConfigDTO, *http.Response, error) {
	return r.ApiService.GetConfig1Execute(r)
}

/*
GetConfig1 Method for GetConfig1

Returns the effective waiver expiration notification configuration for the given owner. If the owner has no custom configuration, the inherited configuration from the parent is returned with inheritConfig=true.<p>Permissions required: View IQ Elements

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownerType The owner type (organization, repository_manager, or repository_container).
 @param ownerId The internal owner ID assigned by IQ Server.
 @return ApiGetConfig1Request
*/
func (a *WaiverExpirationNotificationConfigAPIService) GetConfig1(ctx context.Context, ownerType string, ownerId string) ApiGetConfig1Request {
	return ApiGetConfig1Request{
		ApiService: a,
		ctx: ctx,
		ownerType: ownerType,
		ownerId: ownerId,
	}
}

// Execute executes the request
//  @return ApiWaiverExpirationNotificationConfigDTO
func (a *WaiverExpirationNotificationConfigAPIService) GetConfig1Execute(r ApiGetConfig1Request) (*ApiWaiverExpirationNotificationConfigDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiWaiverExpirationNotificationConfigDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WaiverExpirationNotificationConfigAPIService.GetConfig1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/waiverExpirationNotificationConfig/{ownerType}/{ownerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"ownerType"+"}", url.PathEscape(parameterValueToString(r.ownerType, "ownerType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"ownerId"+"}", url.PathEscape(parameterValueToString(r.ownerId, "ownerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSaveConfigRequest struct {
	ctx context.Context
	ApiService *WaiverExpirationNotificationConfigAPIService
	ownerType string
	ownerId string
	apiWaiverExpirationNotificationConfigDTO *ApiWaiverExpirationNotificationConfigDTO
}

// The notification configuration to save.
func (r ApiSaveConfigRequest) ApiWaiverExpirationNotificationConfigDTO(apiWaiverExpirationNotificationConfigDTO ApiWaiverExpirationNotificationConfigDTO) ApiSaveConfigRequest {
	r.apiWaiverExpirationNotificationConfigDTO = &apiWaiverExpirationNotificationConfigDTO
	return r
}

func (r ApiSaveConfigRequest) Execute() (*http.Response, error) {
	return r.ApiService.SaveConfigExecute(r)
}

/*
SaveConfig Method for SaveConfig

Sets the waiver expiration notification configuration for the given owner. Set inheritConfig=true to inherit the configuration from the parent.<p>Permissions required: Edit IQ Elements

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownerType The owner type (organization, repository_manager, or repository_container).
 @param ownerId The internal owner ID assigned by IQ Server.
 @return ApiSaveConfigRequest
*/
func (a *WaiverExpirationNotificationConfigAPIService) SaveConfig(ctx context.Context, ownerType string, ownerId string) ApiSaveConfigRequest {
	return ApiSaveConfigRequest{
		ApiService: a,
		ctx: ctx,
		ownerType: ownerType,
		ownerId: ownerId,
	}
}

// Execute executes the request
func (a *WaiverExpirationNotificationConfigAPIService) SaveConfigExecute(r ApiSaveConfigRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WaiverExpirationNotificationConfigAPIService.SaveConfig")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/waiverExpirationNotificationConfig/{ownerType}/{ownerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"ownerType"+"}", url.PathEscape(parameterValueToString(r.ownerType, "ownerType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"ownerId"+"}", url.PathEscape(parameterValueToString(r.ownerId, "ownerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiWaiverExpirationNotificationConfigDTO == nil {
		return nil, reportError("apiWaiverExpirationNotificationConfigDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiWaiverExpirationNotificationConfigDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
