/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.204.1-01
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GitHubAppAPIService GitHubAppAPI service
type GitHubAppAPIService service

type ApiDeleteGitHubAppRequest struct {
	ctx context.Context
	ApiService *GitHubAppAPIService
	githubAppId string
	ownerId *string
}

// Owner (organization/application) ID
func (r ApiDeleteGitHubAppRequest) OwnerId(ownerId string) ApiDeleteGitHubAppRequest {
	r.ownerId = &ownerId
	return r
}

func (r ApiDeleteGitHubAppRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteGitHubAppExecute(r)
}

/*
DeleteGitHubApp Delete a GitHub App

Deletes a specific GitHub App by its ID. Validates ownership before deletion. Best-effort cleanup of the GitHub installation via API. 

**Permissions Required:** Configure System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param githubAppId GitHub App ID
 @return ApiDeleteGitHubAppRequest
*/
func (a *GitHubAppAPIService) DeleteGitHubApp(ctx context.Context, githubAppId string) ApiDeleteGitHubAppRequest {
	return ApiDeleteGitHubAppRequest{
		ApiService: a,
		ctx: ctx,
		githubAppId: githubAppId,
	}
}

// Execute executes the request
func (a *GitHubAppAPIService) DeleteGitHubAppExecute(r ApiDeleteGitHubAppRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitHubAppAPIService.DeleteGitHubApp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/githubApp/{githubAppId}"
	localVarPath = strings.Replace(localVarPath, "{"+"githubAppId"+"}", url.PathEscape(parameterValueToString(r.githubAppId, "githubAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ownerId == nil {
		return nil, reportError("ownerId is required and must be specified")
	}
	if strlen(*r.ownerId) < 1 {
		return nil, reportError("ownerId must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ownerId", r.ownerId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListGitHubAppsRequest struct {
	ctx context.Context
	ApiService *GitHubAppAPIService
	ownerId *string
}

// Owner (organization/application) ID
func (r ApiListGitHubAppsRequest) OwnerId(ownerId string) ApiListGitHubAppsRequest {
	r.ownerId = &ownerId
	return r
}

func (r ApiListGitHubAppsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListGitHubAppsExecute(r)
}

/*
ListGitHubApps List GitHub Apps for an owner

Returns all GitHub Apps directly registered at this owner level. Does not include inherited apps from parent organizations. 

**Permissions Required:** Configure System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListGitHubAppsRequest
*/
func (a *GitHubAppAPIService) ListGitHubApps(ctx context.Context) ApiListGitHubAppsRequest {
	return ApiListGitHubAppsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *GitHubAppAPIService) ListGitHubAppsExecute(r ApiListGitHubAppsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitHubAppAPIService.ListGitHubApps")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/githubApp"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ownerId == nil {
		return nil, reportError("ownerId is required and must be specified")
	}
	if strlen(*r.ownerId) < 1 {
		return nil, reportError("ownerId must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ownerId", r.ownerId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
