/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.204.1-01
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PolicyExportAPIService PolicyExportAPI service
type PolicyExportAPIService service

type ApiExportPoliciesRequest struct {
	ctx context.Context
	ApiService *PolicyExportAPIService
	ownerType string
	ownerId string
	includeInherited *bool
}

// If true, include policies from parent levels in the hierarchy. For repositories, includes policies from the repository and parent organization (RepositoryManager and RepositoryContainer levels are skipped as they do not define policies). For applications, includes policies from the application and parent organization(s). For organizations, includes policies from the organization and any parent organizations. Default: false (direct policies only)
func (r ApiExportPoliciesRequest) IncludeInherited(includeInherited bool) ApiExportPoliciesRequest {
	r.includeInherited = &includeInherited
	return r
}

func (r ApiExportPoliciesRequest) Execute() (*PolicyExportResult, *http.Response, error) {
	return r.ApiService.ExportPoliciesExecute(r)
}

/*
ExportPolicies Export policy configuration

Exports policy configurations including policy rules, conditions, labels, license threat groups,
and tags for the specified owner (organization, application, or repository).
Use the `includeInherited` parameter to include policies from parent levels in the hierarchy.

**Permissions required**: View IQ Elements (READ permission on the specified owner)

**Export scope**:
- Policy rules and conditions
- Policy assignments (via ownerId on each policy)
- Component labels
- License threat groups
- Application categories (tags) for organizations

**Note**: Waivers are not included in the export.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownerType Type of owner (organization, application, or repository)
 @param ownerId Internal ID of the owner
 @return ApiExportPoliciesRequest
*/
func (a *PolicyExportAPIService) ExportPolicies(ctx context.Context, ownerType string, ownerId string) ApiExportPoliciesRequest {
	return ApiExportPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		ownerType: ownerType,
		ownerId: ownerId,
	}
}

// Execute executes the request
//  @return PolicyExportResult
func (a *PolicyExportAPIService) ExportPoliciesExecute(r ApiExportPoliciesRequest) (*PolicyExportResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PolicyExportResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PolicyExportAPIService.ExportPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/policy/{ownerType}/{ownerId}/export"
	localVarPath = strings.Replace(localVarPath, "{"+"ownerType"+"}", url.PathEscape(parameterValueToString(r.ownerType, "ownerType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"ownerId"+"}", url.PathEscape(parameterValueToString(r.ownerId, "ownerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeInherited != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInherited", r.includeInherited, "form", "")
	} else {
		var defaultValue bool = false
		r.includeInherited = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
