/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.205.0-03
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ReachabilityEvidenceAPIService ReachabilityEvidenceAPI service
type ReachabilityEvidenceAPIService service

type ApiGetReachabilityEvidenceRequest struct {
	ctx context.Context
	ApiService *ReachabilityEvidenceAPIService
	applicationPublicId string
	reportId string
	vulnerabilityId string
}

func (r ApiGetReachabilityEvidenceRequest) Execute() (*ApiReachabilityEvidenceResponse, *http.Response, error) {
	return r.ApiService.GetReachabilityEvidenceExecute(r)
}

/*
GetReachabilityEvidence Method for GetReachabilityEvidence

Get reachability evidence for a specific vulnerability showing call paths from entry points to the vulnerable method.\n\nPermissions required: View IQ Elements

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationPublicId The public ID of the application
 @param reportId The report/scan ID
 @param vulnerabilityId The vulnerability ID (e.g., CVE-2023-35116)
 @return ApiGetReachabilityEvidenceRequest
*/
func (a *ReachabilityEvidenceAPIService) GetReachabilityEvidence(ctx context.Context, applicationPublicId string, reportId string, vulnerabilityId string) ApiGetReachabilityEvidenceRequest {
	return ApiGetReachabilityEvidenceRequest{
		ApiService: a,
		ctx: ctx,
		applicationPublicId: applicationPublicId,
		reportId: reportId,
		vulnerabilityId: vulnerabilityId,
	}
}

// Execute executes the request
//  @return ApiReachabilityEvidenceResponse
func (a *ReachabilityEvidenceAPIService) GetReachabilityEvidenceExecute(r ApiGetReachabilityEvidenceRequest) (*ApiReachabilityEvidenceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiReachabilityEvidenceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReachabilityEvidenceAPIService.GetReachabilityEvidence")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/applications/{applicationPublicId}/reports/{reportId}/vulnerabilities/{vulnerabilityId}/reachability-evidence"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationPublicId"+"}", url.PathEscape(parameterValueToString(r.applicationPublicId, "applicationPublicId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"reportId"+"}", url.PathEscape(parameterValueToString(r.reportId, "reportId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vulnerabilityId"+"}", url.PathEscape(parameterValueToString(r.vulnerabilityId, "vulnerabilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
