/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.166.0-01
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FirewallAPIService FirewallAPI service
type FirewallAPIService service

type ApiGetFirewallAutoUnquarantineConfigRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
}

func (r ApiGetFirewallAutoUnquarantineConfigRequest) Execute() ([]ApiFirewallReleaseQuarantineConfigDTO, *http.Response, error) {
	return r.ApiService.GetFirewallAutoUnquarantineConfigExecute(r)
}

/*
GetFirewallAutoUnquarantineConfig Method for GetFirewallAutoUnquarantineConfig

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFirewallAutoUnquarantineConfigRequest
*/
func (a *FirewallAPIService) GetFirewallAutoUnquarantineConfig(ctx context.Context) ApiGetFirewallAutoUnquarantineConfigRequest {
	return ApiGetFirewallAutoUnquarantineConfigRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ApiFirewallReleaseQuarantineConfigDTO
func (a *FirewallAPIService) GetFirewallAutoUnquarantineConfigExecute(r ApiGetFirewallAutoUnquarantineConfigRequest) ([]ApiFirewallReleaseQuarantineConfigDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ApiFirewallReleaseQuarantineConfigDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.GetFirewallAutoUnquarantineConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/releaseQuarantine/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v []ApiFirewallReleaseQuarantineConfigDTO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFirewallUnquarantineSummaryRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
}

func (r ApiGetFirewallUnquarantineSummaryRequest) Execute() (*ApiFirewallReleaseQuarantineSummaryDTO, *http.Response, error) {
	return r.ApiService.GetFirewallUnquarantineSummaryExecute(r)
}

/*
GetFirewallUnquarantineSummary Method for GetFirewallUnquarantineSummary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFirewallUnquarantineSummaryRequest
*/
func (a *FirewallAPIService) GetFirewallUnquarantineSummary(ctx context.Context) ApiGetFirewallUnquarantineSummaryRequest {
	return ApiGetFirewallUnquarantineSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiFirewallReleaseQuarantineSummaryDTO
func (a *FirewallAPIService) GetFirewallUnquarantineSummaryExecute(r ApiGetFirewallUnquarantineSummaryRequest) (*ApiFirewallReleaseQuarantineSummaryDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiFirewallReleaseQuarantineSummaryDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.GetFirewallUnquarantineSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/releaseQuarantine/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ApiFirewallReleaseQuarantineSummaryDTO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetQuarantineListRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
	page *int32
	pageSize *int32
	policyId *string
	componentName *string
	sortBy *string
	asc *bool
}

func (r ApiGetQuarantineListRequest) Page(page int32) ApiGetQuarantineListRequest {
	r.page = &page
	return r
}

func (r ApiGetQuarantineListRequest) PageSize(pageSize int32) ApiGetQuarantineListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetQuarantineListRequest) PolicyId(policyId string) ApiGetQuarantineListRequest {
	r.policyId = &policyId
	return r
}

func (r ApiGetQuarantineListRequest) ComponentName(componentName string) ApiGetQuarantineListRequest {
	r.componentName = &componentName
	return r
}

func (r ApiGetQuarantineListRequest) SortBy(sortBy string) ApiGetQuarantineListRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiGetQuarantineListRequest) Asc(asc bool) ApiGetQuarantineListRequest {
	r.asc = &asc
	return r
}

func (r ApiGetQuarantineListRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetQuarantineListExecute(r)
}

/*
GetQuarantineList Method for GetQuarantineList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetQuarantineListRequest
*/
func (a *FirewallAPIService) GetQuarantineList(ctx context.Context) ApiGetQuarantineListRequest {
	return ApiGetQuarantineListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *FirewallAPIService) GetQuarantineListExecute(r ApiGetQuarantineListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.GetQuarantineList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/components/quarantined"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policyId", r.policyId, "")
	}
	if r.componentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "componentName", r.componentName, "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.asc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asc", r.asc, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetQuarantineSummaryRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
}

func (r ApiGetQuarantineSummaryRequest) Execute() (*ApiFirewallQuarantineSummaryDTO, *http.Response, error) {
	return r.ApiService.GetQuarantineSummaryExecute(r)
}

/*
GetQuarantineSummary Method for GetQuarantineSummary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetQuarantineSummaryRequest
*/
func (a *FirewallAPIService) GetQuarantineSummary(ctx context.Context) ApiGetQuarantineSummaryRequest {
	return ApiGetQuarantineSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiFirewallQuarantineSummaryDTO
func (a *FirewallAPIService) GetQuarantineSummaryExecute(r ApiGetQuarantineSummaryRequest) (*ApiFirewallQuarantineSummaryDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiFirewallQuarantineSummaryDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.GetQuarantineSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/quarantine/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ApiFirewallQuarantineSummaryDTO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetQuarantinedComponentViewAnonymousAccessRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
}

func (r ApiGetQuarantinedComponentViewAnonymousAccessRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetQuarantinedComponentViewAnonymousAccessExecute(r)
}

/*
GetQuarantinedComponentViewAnonymousAccess Method for GetQuarantinedComponentViewAnonymousAccess

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetQuarantinedComponentViewAnonymousAccessRequest
*/
func (a *FirewallAPIService) GetQuarantinedComponentViewAnonymousAccess(ctx context.Context) ApiGetQuarantinedComponentViewAnonymousAccessRequest {
	return ApiGetQuarantinedComponentViewAnonymousAccessRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *FirewallAPIService) GetQuarantinedComponentViewAnonymousAccessExecute(r ApiGetQuarantinedComponentViewAnonymousAccessRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.GetQuarantinedComponentViewAnonymousAccess")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/quarantinedComponentView/configuration/anonymousAccess"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetUnquarantineListRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
	page *int32
	pageSize *int32
	policyId *string
	componentName *string
	sortBy *string
	asc *bool
}

func (r ApiGetUnquarantineListRequest) Page(page int32) ApiGetUnquarantineListRequest {
	r.page = &page
	return r
}

func (r ApiGetUnquarantineListRequest) PageSize(pageSize int32) ApiGetUnquarantineListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetUnquarantineListRequest) PolicyId(policyId string) ApiGetUnquarantineListRequest {
	r.policyId = &policyId
	return r
}

func (r ApiGetUnquarantineListRequest) ComponentName(componentName string) ApiGetUnquarantineListRequest {
	r.componentName = &componentName
	return r
}

func (r ApiGetUnquarantineListRequest) SortBy(sortBy string) ApiGetUnquarantineListRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiGetUnquarantineListRequest) Asc(asc bool) ApiGetUnquarantineListRequest {
	r.asc = &asc
	return r
}

func (r ApiGetUnquarantineListRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetUnquarantineListExecute(r)
}

/*
GetUnquarantineList Method for GetUnquarantineList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetUnquarantineListRequest
*/
func (a *FirewallAPIService) GetUnquarantineList(ctx context.Context) ApiGetUnquarantineListRequest {
	return ApiGetUnquarantineListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *FirewallAPIService) GetUnquarantineListExecute(r ApiGetUnquarantineListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.GetUnquarantineList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/components/autoReleasedFromQuarantine"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policyId", r.policyId, "")
	}
	if r.componentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "componentName", r.componentName, "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.asc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asc", r.asc, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSetFirewallAutoUnquarantineConfigRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
	apiFirewallReleaseQuarantineConfigDTO *[]ApiFirewallReleaseQuarantineConfigDTO
}

func (r ApiSetFirewallAutoUnquarantineConfigRequest) ApiFirewallReleaseQuarantineConfigDTO(apiFirewallReleaseQuarantineConfigDTO []ApiFirewallReleaseQuarantineConfigDTO) ApiSetFirewallAutoUnquarantineConfigRequest {
	r.apiFirewallReleaseQuarantineConfigDTO = &apiFirewallReleaseQuarantineConfigDTO
	return r
}

func (r ApiSetFirewallAutoUnquarantineConfigRequest) Execute() ([]ApiFirewallReleaseQuarantineConfigDTO, *http.Response, error) {
	return r.ApiService.SetFirewallAutoUnquarantineConfigExecute(r)
}

/*
SetFirewallAutoUnquarantineConfig Method for SetFirewallAutoUnquarantineConfig

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSetFirewallAutoUnquarantineConfigRequest
*/
func (a *FirewallAPIService) SetFirewallAutoUnquarantineConfig(ctx context.Context) ApiSetFirewallAutoUnquarantineConfigRequest {
	return ApiSetFirewallAutoUnquarantineConfigRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ApiFirewallReleaseQuarantineConfigDTO
func (a *FirewallAPIService) SetFirewallAutoUnquarantineConfigExecute(r ApiSetFirewallAutoUnquarantineConfigRequest) ([]ApiFirewallReleaseQuarantineConfigDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ApiFirewallReleaseQuarantineConfigDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.SetFirewallAutoUnquarantineConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/releaseQuarantine/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiFirewallReleaseQuarantineConfigDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v []ApiFirewallReleaseQuarantineConfigDTO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetQuarantinedComponentViewAnonymousAccessRequest struct {
	ctx context.Context
	ApiService *FirewallAPIService
	enabled bool
}

func (r ApiSetQuarantinedComponentViewAnonymousAccessRequest) Execute() (*http.Response, error) {
	return r.ApiService.SetQuarantinedComponentViewAnonymousAccessExecute(r)
}

/*
SetQuarantinedComponentViewAnonymousAccess Method for SetQuarantinedComponentViewAnonymousAccess

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enabled
 @return ApiSetQuarantinedComponentViewAnonymousAccessRequest
*/
func (a *FirewallAPIService) SetQuarantinedComponentViewAnonymousAccess(ctx context.Context, enabled bool) ApiSetQuarantinedComponentViewAnonymousAccessRequest {
	return ApiSetQuarantinedComponentViewAnonymousAccessRequest{
		ApiService: a,
		ctx: ctx,
		enabled: enabled,
	}
}

// Execute executes the request
func (a *FirewallAPIService) SetQuarantinedComponentViewAnonymousAccessExecute(r ApiSetQuarantinedComponentViewAnonymousAccessRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FirewallAPIService.SetQuarantinedComponentViewAnonymousAccess")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/firewall/quarantinedComponentView/configuration/anonymousAccess/{enabled}"
	localVarPath = strings.Replace(localVarPath, "{"+"enabled"+"}", url.PathEscape(parameterValueToString(r.enabled, "enabled")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
