/*
Sonatype Lifecycle Public REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.201.0-02
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeiq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ConfigMailAPIService ConfigMailAPI service
type ConfigMailAPIService service

type ApiDeleteConfiguration3Request struct {
	ctx context.Context
	ApiService *ConfigMailAPIService
}

func (r ApiDeleteConfiguration3Request) Execute() (*http.Response, error) {
	return r.ApiService.DeleteConfiguration3Execute(r)
}

/*
DeleteConfiguration3 Method for DeleteConfiguration3

Use this method to disable or remove an SMTP configuration.

Permissions required: Edit System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteConfiguration3Request
*/
func (a *ConfigMailAPIService) DeleteConfiguration3(ctx context.Context) ApiDeleteConfiguration3Request {
	return ApiDeleteConfiguration3Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigMailAPIService) DeleteConfiguration3Execute(r ApiDeleteConfiguration3Request) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigMailAPIService.DeleteConfiguration3")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/config/mail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetConfiguration3Request struct {
	ctx context.Context
	ApiService *ConfigMailAPIService
}

func (r ApiGetConfiguration3Request) Execute() (*ApiMailConfigurationDTO, *http.Response, error) {
	return r.ApiService.GetConfiguration3Execute(r)
}

/*
GetConfiguration3 Method for GetConfiguration3

Use this method to review the configuration for an SMTP server.

Permissions required: Edit System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetConfiguration3Request
*/
func (a *ConfigMailAPIService) GetConfiguration3(ctx context.Context) ApiGetConfiguration3Request {
	return ApiGetConfiguration3Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiMailConfigurationDTO
func (a *ConfigMailAPIService) GetConfiguration3Execute(r ApiGetConfiguration3Request) (*ApiMailConfigurationDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiMailConfigurationDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigMailAPIService.GetConfiguration3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/config/mail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetConfiguration3Request struct {
	ctx context.Context
	ApiService *ConfigMailAPIService
	apiMailConfigurationDTO *ApiMailConfigurationDTO
}

// Provide one or more values for the following in the JSON payload:&lt;ul&gt;&lt;li&gt;&#x60;hostname&#x60; - is the hostname or IP address of the SMTP server used for outgoing mail.&lt;/li&gt;&lt;li&gt;&#x60;port&#x60; - is the port number on which the SMTP server accepts email requests.&lt;/li&gt;&lt;li&gt;&#x60;password&#x60; - depends upon the value of &#x60;passwordIsIncluded&#x60;.&lt;/li&gt;&lt;li&gt;&#x60;passwordIsIncluded&#x60; - if set to true, value must be provided for &#x60;password&#x60;, null is allowed.If set to false, the previous value will remain unchanged, provided that &#x60;hostname&#x60; and &#x60;port&#x60; are not changed.&lt;li&gt;&#x60;sslEnabled&#x60; - is a boolean flag indicating if the connection to the SMTP server should use SSL/TLSright from the start.&lt;/li&gt;&lt;li&gt;&#x60;startIsEnabled&#x60;- is a boolean flag indicating if the connection to the SMTP server should attempt toupgrade to SSL/TLS using the STARTTLS command.&lt;li&gt;&#x60;systemEmail&#x60; - is the email address used for the FROM header in emails sent by the IQ Server.&lt;/li&gt;&lt;/ul&gt;
func (r ApiSetConfiguration3Request) ApiMailConfigurationDTO(apiMailConfigurationDTO ApiMailConfigurationDTO) ApiSetConfiguration3Request {
	r.apiMailConfigurationDTO = &apiMailConfigurationDTO
	return r
}

func (r ApiSetConfiguration3Request) Execute() (*http.Response, error) {
	return r.ApiService.SetConfiguration3Execute(r)
}

/*
SetConfiguration3 Method for SetConfiguration3

Use this method to configure or update an existing SMTP server configuration.

Permissions required: Edit System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSetConfiguration3Request
*/
func (a *ConfigMailAPIService) SetConfiguration3(ctx context.Context) ApiSetConfiguration3Request {
	return ApiSetConfiguration3Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigMailAPIService) SetConfiguration3Execute(r ApiSetConfiguration3Request) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigMailAPIService.SetConfiguration3")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/config/mail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiMailConfigurationDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTestConfigurationRequest struct {
	ctx context.Context
	ApiService *ConfigMailAPIService
	recipientEmail string
	apiMailConfigurationDTO *ApiMailConfigurationDTO
}

// Provide one or more values for the following in the JSON payload:&lt;ul&gt;&lt;li&gt;&#x60;hostname&#x60; - is the hostname or IP address of the SMTP server used for outgoing mail.&lt;/li&gt;&lt;li&gt;&#x60;port&#x60; - is the port number on which the SMTP server accepts email requests.&lt;/li&gt;&lt;li&gt;&#x60;password&#x60; - depends upon the value of &#x60;passwordIsIncluded&#x60;.&lt;/li&gt;&lt;li&gt;&#x60;passwordIsIncluded&#x60; - if set to true, value must be provided for &#x60;password&#x60;, null is allowed.If set to false, the previous value will remain unchanged, provided that &#x60;hostname&#x60; and &#x60;port&#x60; are not changed.&lt;li&gt;&#x60;sslEnabled&#x60; - is a boolean flag indicating if the connection to the SMTP server should use SSL/TLSright from the start.&lt;/li&gt;&lt;li&gt;&#x60;startIsEnabled&#x60;- is a boolean flag indicating if the connection to the SMTP server should attempt toupgrade to SSL/TLS using the STARTTLS command.&lt;li&gt;&#x60;systemEmail&#x60; - is the email address used for the FROM header in emails sent by the IQ Server.&lt;/li&gt;&lt;/ul&gt;
func (r ApiTestConfigurationRequest) ApiMailConfigurationDTO(apiMailConfigurationDTO ApiMailConfigurationDTO) ApiTestConfigurationRequest {
	r.apiMailConfigurationDTO = &apiMailConfigurationDTO
	return r
}

func (r ApiTestConfigurationRequest) Execute() (*http.Response, error) {
	return r.ApiService.TestConfigurationExecute(r)
}

/*
TestConfiguration Method for TestConfiguration

Use this method to test an SMTP configuration, without affecting the current configuration.

Permissions required:Edit System Configuration and Users

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param recipientEmail Enter the test recipient email address.
 @return ApiTestConfigurationRequest
*/
func (a *ConfigMailAPIService) TestConfiguration(ctx context.Context, recipientEmail string) ApiTestConfigurationRequest {
	return ApiTestConfigurationRequest{
		ApiService: a,
		ctx: ctx,
		recipientEmail: recipientEmail,
	}
}

// Execute executes the request
func (a *ConfigMailAPIService) TestConfigurationExecute(r ApiTestConfigurationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigMailAPIService.TestConfiguration")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/config/mail/test/{recipientEmail}"
	localVarPath = strings.Replace(localVarPath, "{"+"recipientEmail"+"}", url.PathEscape(parameterValueToString(r.recipientEmail, "recipientEmail")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiMailConfigurationDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
